.header {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
.header__logo {
  padding-top: 40px;
}

.main__text {
  margin-top: 140px;
  margin-bottom: 80px;
}

.header .sign__text {
  font-size: 18px;
  display: inline-block;
  transform: translate(-60px, -16px);
  color: #ffffff;
}
.header .sign:hover .sign__path {
  fill: #a9a32a;
}
.sign__path {
  transition: fill 0.5s;
}
.social {
  display: flex;
  justify-content: center;
}

.social__list {
  position: absolute;
  bottom: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.social__item {
  margin-right: 10px;
}

.social__item img {
  width: 80%;
}
