a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

.services {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 0;
}

.title__text {
  margin-top: 100px;
  color: #868585;
  margin-bottom: 50px;
  text-align: left;
  font-size: 48px;
}
.services__text {
  width: 600px;
}
.services__text h2 {
  margin-bottom: 20px;
  margin-top: 44px;
  text-align: left;
}

.services__text p {
  width: 410px;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.services__img {
  width: 600px;
  padding-right: 10px;
  margin-top: 200px;
}
.services__img img {
  float: left;
}
