@import "./header.css";
@import "./secondScreen.css";
@import "./thirdScreen.css";
@import "./quote.css";
@import "./clients.css";
@import "./powerstation.css";
@import "./contacts.css";

body {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
h1 {
  font-size: 64px;
}

h2 {
  font-style: 24px;
}
p {
  font-style: 14px;
}
